@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

:root {
  --white: #FEF9EF;
  --black: #0b132b;
}

* {
  font-family: Nunito;
}

body {
  background-color: #227C9D;
  background-image: url(https://images.unsplash.com/photo-1583173451851-dd9ba01f891e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  height: 600px;
}

.frame {
  border-radius: 24px;
  border-style: solid;
  border-width: 4px;
  border-color: var(--black);
  box-shadow: 12px 8px;
  
  padding: 32px;
}

#frame-main {
  color: var(--black);
  background-color: var(--white);
  
  width: min(50vw, 800px);
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}



.button {
  margin: 8px;
  
  border-radius: opx;
  border-style: solid;
  border-width: 4px;
  border-color: var(--black);
  box-shadow: 4px 4px 0px 4px var(--black);
  
  background-color: #4CAF50;
  color: var(--white);
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Sigmar One;
}
